body {
  font-family: "Helvetica", sans-serif;
  background: #f4f4f4;
}
a {
  color: #666;
}
.clf:before,
.clf:after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
}
/* 顶部广告条 */
.advert {
  width: 100%;
  height: 42px;
  background-color: #474747;
}
.advert .close-btn {
  float: left;
  width: 37px;
  height: 100%;
  text-align: center;
  line-height: 42px;
  cursor: pointer;
}
.advert .close-btn img {
  width: 13px;
  height: 13px;
}
.advert .downText {
  float: left;
  width: 80%;
  height: 100%;
}
.advert .downText a {
  display: block;
  width: 100%;
  height: 100%;
}
.advert .downText a span {
  float: left;
}
.advert .downText a .dlogo {
  height: 100%;
  line-height: 42px;
}
.advert .downText a .dlogo img {
  height: 35px;
  margin-top: 4px;
  overflow: hidden;
  width: 35px;
}
.advert .downText a .dt {
  color: #fff;
  margin: 5px 0 0 8px;
}
.advert .downText a .dt p {
  line-height: normal;
}
.advert .downText a .dt p:nth-child(1) {
  font-size: 14px;
}
.advert .downText a .dt p:nth-child(2) {
  font-size: 12px;
}
/*  广告条结束*/
/* banner */
.banner .banner-box a {
  display: block;
}
.banner .banner-box a img {
  display: block;
  width: 100%;
}
.banner .swiper-button-next,
.banner .swiper-button-prev {
  display: none;
}
/* banner结束 */
/* 其他链接 */
.otherLink {
  background: #fff;
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
  padding: 15px 0;
}
.otherLink a {
  color: #666;
  display: block;
  font-size: 12px;
  text-align: center;
  width: 20%;
  float: left;
}
.otherLink a img {
  display: block;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}
.otherLink a span {
  display: block;
  margin-top: 7px;
}
/* 其他链接结束 */
/* first-news */
.first-news {
  background: #fff;
  padding: 12px 15px;
}
.first-news .first-news-img {
  float: left;
  border-right: 1px solid #e1e1e1;
  height: 16px;
  padding-right: 5px;
}
.first-news .first-news-img img {
  height: 16px;
}
.first-news .scrollText {
  float: left;
  height: 16px;
  width: 74%;
  overflow: hidden;
}
.first-news .scrollText ul {
  color: #444;
  font-size: 11px;
  line-height: 16px;
  overflow: hidden;
}
.first-news .scrollText ul li {
  overflow: hidden;
}
.first-news .scrollText ul a {
  display: block;
  font-size: 13px;
  height: 16px;
  line-height: 16px;
}
.first-news .scrollText ul a span:nth-child(1) {
  color: #f66;
  float: left;
  font-style: normal;
  padding: 0 5px;
}
.first-news .scrollText ul a span:nth-child(2) {
  display: block;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
/* first-news */
/* 掌上抢 */
.buy-box {
  background: #fff;
  margin-top: 10px;
}
.buy-box .buy-menu {
  border-bottom: 1px solid #eaeaea;
  height: 38px;
  line-height: 38px;
  padding: 0 15px;
  position: relative;
}
.buy-box .buy-menu .buyRed {
  color: #f55;
  display: inline-block;
  font-size: 15px;
}
.buy-box .buy-menu .daojishi {
  color: #222;
  display: inline-block;
  font-size: 12px;
  margin-left: 8px;
  height: 100%;
}
.buy-box .buy-menu .daojishi span {
  width: 21px;
  height: 15px;
  padding: 0 3px;
  border: 1px solid #aaa;
}
.buy-box .buy-menu .session {
  color: #222;
  font-size: 14px;
  position: absolute;
  right: 15px;
  top: 0;
}
.buy-box .buy-content .swiper-slide .star-plist li {
  width: 33.33333333%;
  margin: 10px 0;
  padding: 0;
  box-sizing: border-box;
}
.buy-box .buy-content .swiper-slide .star-plist li a .star-img {
  margin: 0 5px;
}
.buy-box .buy-content .swiper-slide .star-plist li a .star-img img {
  width: 100%;
}
.buy-box .buy-content .swiper-slide .star-plist li a .star-img .sellout {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  color: #fff;
  display: block;
  font-size: 12px;
  left: 0;
  position: absolute;
  width: 100%;
}
.buy-box .buy-content .swiper-slide .star-plist li a .start-title {
  margin: 5px 5px 0;
}
.buy-box .buy-content .swiper-slide .star-plist li a .start-price {
  margin: 5px 5px 0;
}
.buy-box .buy-content .swiper-slide .star-plist li:nth-child(3) {
  border-right: none;
}
/* 掌上抢 */
/* 明星单品 */
.star-product .star-plist li:nth-child(2) {
  border-right: none;
}
.floor-title {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 100%;
}
.floor-title span {
  color: #ccc;
  font-style: normal;
}
.star-plist {
  background: #fff;
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
}
.star-plist li {
  border-right: 1px solid #f1f1f1;
  padding: 15px 0 7px;
  text-align: center;
  width: 50%;
  float: left;
}
.star-plist li a {
  display: block;
}
.star-plist li a .star-tips {
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  margin: 0 20px;
  overflow: hidden;
  padding: 4px 9px 4px 5px;
  vertical-align: middle;
  display: inline-block;
}
.star-plist li a .star-tips img {
  float: left;
  height: 17px;
  overflow: hidden;
  width: 17px;
}
.star-plist li a .star-tips em {
  color: #222;
  float: left;
  font-style: normal;
  font-size: 13px;
  height: 17px;
  line-height: 17px;
  margin-left: 5px;
}
.star-plist li a .star-img {
  margin: 7px 6px 0;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.star-plist li a .star-img img {
  overflow: hidden;
  width: 148px;
  margin: 0 auto;
}
.star-plist li a .start-title {
  color: #555;
  font-size: 13px;
  height: 16px;
  line-height: 16px;
  margin: 7px 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.star-plist li a .start-price {
  color: #f55;
  font-size: 14px;
  margin: 5px 8px 0;
  text-align: center;
}
.star-plist li a .start-price span {
  font-size: 11px;
}
/* 明星单品 */
/* 新品上市 */
.top-level li {
  margin-bottom: 10px;
}
.top-level li a {
  display: block;
  background-color: #fff;
}
.top-level li a .newImg {
  position: relative;
}
.top-level li a .newImg img {
  width: 100%;
}
.top-level li a .newImg span {
  background: rgba(0, 0, 0, 0.4);
  bottom: 20px;
  color: #fff;
  display: block;
  font-size: 14px;
  font-style: normal;
  height: 27px;
  line-height: 27px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 54px;
}
.top-level li a .ds-1,
.top-level li a .ds-2 {
  padding: 0 15px;
}
.top-level li a .ds-1 {
  color: #222;
  display: block;
  font-size: 14px;
  margin-top: 12px;
  font-weight: normal;
}
.top-level li a .ds-2 {
  display: block;
  color: #999;
  font-size: 12px;
  line-height: 15px;
  margin-top: 6px;
  overflow: hidden;
  padding-bottom: 14px;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.top-level li:nth-child(3) {
  margin-bottom: 0;
}
/* 新品上市 */
/* 手机 */
.floor-bigImg a {
  display: block;
}
.floor-bigImg a img {
  display: block;
  width: 100%;
}
.plist .star-plist li {
  text-align: left;
}
.plist .star-plist li .product-norms {
  color: #999;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  margin: 4px 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.plist .star-plist li .start-price {
  text-align: left;
}
/* 手机 */
.moreProduct {
  display: block;
  background: #f4f4f4;
  border-bottom: 1px solid #ccc;
  color: #666;
  font-size: 12px;
  height: 42px;
  line-height: 42px;
  text-align: center;
}
/* 服务 */
.service {
  background: #fff;
  color: #5c5c5c;
  font-size: 14px;
  line-height: 3em;
  text-align: center;
}
.service .ser-cont {
  padding: 13px 0;
}
.service .ser-cont .contents-item {
  border-right: solid 1px #d6d6d6;
  color: #666;
  font-size: 11px;
  float: left;
  width: 33.333333%;
}
.service .ser-cont .contents-item .icon {
  border: 1px solid #aaa;
  border-radius: 50%;
  color: #666;
  font-size: 12px;
  height: 31px;
  line-height: 31px;
  margin: 0 auto;
  width: 31px;
}
.service .ser-cont .contents-item span {
  display: block;
  height: 12px;
  line-height: 12px;
  margin-top: 7px;
}
.service .ser-cont .contents-item:nth-child(3) {
  border-right: 0;
}
.service .phoneNumber {
  color: #999;
  font-size: 10px;
  border-top: solid 1px #d6d6d6;
}
.service .phoneNumber p:nth-child(2) {
  font-size: 10px;
  line-height: 10px;
  padding-bottom: 10px;
}
/* 服务 */
/* 导航 */
.menu-box {
  background: #fff;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  bottom: 0;
  height: 53px;
  left: 0;
  padding: 0;
  position: fixed;
  z-index: 999;
  width: 100%;
}
.menu-box ul {
  height: 100%;
  width: 100%;
}
.menu-box li {
  text-align: center;
  width: 25%;
  height: 100%;
  float: left;
}
.menu-box li a {
  display: block;
  height: 100%;
  width: 100%;
}
.menu-box li a .layer-home,
.menu-box li a .layer-category,
.menu-box li a .layer-cart,
.menu-box li a .layer-user {
  height: 33px;
  margin: 0 auto;
  width: 50px;
  background-image: url(../images/home2.png);
  background-repeat: no-repeat;
  background-size: 50px 33px;
}
.menu-box li a .layer-category {
  background-image: url(../images/fenlei.png);
}
.menu-box li a .layer-cart {
  background-image: url(../images/shop.png);
}
.menu-box li a .layer-user {
  background-image: url(../images/user.png);
}
.menu-box li a p {
  font-size: 10px;
  text-align: center;
  width: 100%;
}
.menu-box li.on a .layer-home {
  background: url(../images/home.png) no-repeat;
  background-size: 50px 33px;
}
.menu-box li.on a p {
  color: #19a243;
}
/* 导航 */
a.goTop {
  background: url(../images/goTop.png) no-repeat;
  background-size: 34px 34px;
  background-position: 0 0;
  bottom: 80px;
  display: inline-block;
  height: 34px;
  position: fixed;
  right: 0;
  width: 34px;
  z-index: 9999;
}
